/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.wrapper {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background-color: #000;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-size: 2.2rem;
}
nav {
  display: none;
}

.slider {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s;
  z-index: 0;
}

.slide-header {
  text-transform: uppercase;
  font-size: 3.8rem;
}
.slide-container {
  text-align: center;
  height: 60%;
}

.slide-content {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.4;
}
.timer {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  color: #eee;
}

.main-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  width: 180px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.3s;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(img/2.jpg);
}
.slide:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(img/1.jpg);
}
.slide:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(img/3.jpg);
}

/* Media Landscape */
@media (orientation: landscape) {
  .slide-container {
    height: 70%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .slide-header {
    font-size: 4.4rem;
  }
  .slide-content {
    font-size: 2.4rem;
    width: 60%;
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .slide-container {
    height: 60%;
  }

  .slide-content {
    font-size: 2.4rem;
  }

  .main-btn:hover {
    border: 1px solid yellowgreen;
    color: yellowgreen;
  }
}
